h1, h2, h3, h4, h5 { 
    font-family: 'Roboto', sans-serif;
    color: blue;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

img {
    width: 40%;
    height: 500px;
}

label {
    color: white;
    display: inline-block;
    width: 200px;
}

div.input-row {
    width: 100%;
}

button {
    background-color: blue;
    color: white;
}

button:hover {
    background-color: darkblue;
}